body{
    text-align:center;
}

.form-control{
    width:30%;
    position: relative;

    left:35%;
    margin-bottom: 2vw;

}
#login{
    width:10%;
    font-size: large;
    font-weight: bold;
    position:relative;

    
}
.title{
    padding-top: 7%;
}
.logo{
    max-width: 10%;
    
}