body{
    text-align:center;
}

.form-control{
    width:50%;
    position: relative;

    left:25%;
    margin-bottom: 2vw;

}
#login{
    width:22%;
    font-size: large;
    font-weight: bold;
    position:relative;

    
}

.logo{
    max-width: 30%;
    padding-top: 7%;
    
}
.mb-3{
    margin-top: 5vw;
    margin-left: 35vw;
    margin-right: 35vw;
    padding-bottom:15vw;
    border:gray;
    border-style: solid;
    border-radius: 12px;
}